<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="DbConecta" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\1511 MXTI\Documents\Cursos\COTI 2018\Csharp\Aula5\SLNProjetoBancoMDF\ProjetoBancoMDF\App_Data\Banco.mdf;Integrated Security=True"/>
    </connectionStrings>
</configuration>